<div th:fragment="header">
<header class="header" >
    <div class="container">
        <ul class="menu">
            <li><a href="add" style="color: black">Новости</a></li>
            <li  class="history"><a href="../history" style="color: #CE4545">История</a></li>
            <li ><span ><a href="#" style="color: #2957CE">Контакты</a></span></li>
            <li><a href="#" style="color: black">Обзор</a></li>
            <li><a href="home"><img class="log" src="/static/img/Logo.png" style="margin-top: -48" ></a></li>
        </ul>
    </div>
</header>
</div>