<!doctype html>
<html >
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/addNews.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AddNews</title>

</head>
<body class="addBody" background="https://gamerwall.pro/uploads/posts/2021-11/1637071150_52-gamerwall-pro-p-prozrachnaya-tekstura-oboi-na-zastavku-52.jpg">
<div class="container mt-5 mb-5">
    <h1>Добавление статьи</h1>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Введите название статьи" class="form-control"><br>
        <textarea  name="contain" placeholder="Введите полный текст  статьи" class="form-control"></textarea><br>
        <input type="text" name="urlPicture" placeholder="Введите url изображения" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить статью</button>
    </form>

</div>
</body>
</html>