<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sneaker</title>
    <link rel="icon" type="images/png" href="favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body >
<div class="mainPicture" >
        <header class="header" >
            <div class="container">
                <ul class="menu">
                    <li class="news"><a href="news" style="color: #8cd08c">Новости</a></li>
                    <li  class="history"><a href="../history" style="color: #CE4545">История</a></li>
                    <li class="collection"><span ><a href="#" style="color: #2957CE">Коллекция</a></span></li>
                    <li class="review"><a href="/review " class="review" >Обзор</a></li>
                    <li><a href="/"><img class="log" src="/static/img/Logo.png"></a></li>
                </ul>
            </div>
        </header>
    <footer class="footer">
        <div class="desc-bottom">
            <ul class="bottom">
                <li class="converse"></li><img src="/static/img/logotips/converse-transparent-logo-5.png" alt="converse"  ></li>
                <li><img src="/static/img/logotips/puma.png" alt="puma" ></li>
                <li><img src="/static/img/logotips/umbro.png" alt="umbro" ></li>
                <li><img src="/static/img/logotips/nike.png" alt="nike" ></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>