<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Sneakers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
</head>
<body >
    <header>
        <div class="container">
            <img class="logo" src="/templates/img/main.png" style="margin-top: -10px">
        </div>
        <div class="header">
            <ul class="menu">
                <li><a href="news.html" style="color: black">Новости</a></li>
                <li  class="history"><a href="#" style="color: #CE4545">История</a></li>
                <li ><span ><a href="#" style="color: #2957CE">Контакты</a></span></li>
                <li><a href="#" style="color: black">Обзор</a></li>
                <a href="home.html"><img class="log" src="/templates/img/Logo.png" ></a>
            </ul>
            <ul class="menu2">
                <li><a href="#" class="registration" style="color: black">Регистрация</a></li>
                <li><a href="#" class="input" style="color: black">Войти</a></li>
            </ul>
        </div>
<!--        <div class="desc-left">-->
<!--            <ul>-->
<!--                <li></li><img src="img/logotips/fila.png" alt="fila" class="fila" ></li>-->
<!--                <br>-->
<!--                <li><img src="img/Asics-Logotipo-1997-2003%201%20(1).png" alt="asics" class="asics"></li>-->
<!--                <br>-->
<!--                <li><img src="img/logotips/Mizuno_logo.png" alt="mizuno" class="mizuno"></li>-->
<!--            </ul>-->
<!--        </div>-->
        <div class="desc-bottom">
            <ul class="bottom">
                <li></li><img src="/templates/img/logotips/converse-transparent-logo-5.png" alt="converse"  ></li>
                <li><img src="/templates/img/logotips/puma.png" alt="puma" ></li>
                <li><img src="/templates/img/logotips/umbro.png" alt="umbro" ></li>
                <li><img src="/templates/img/logotips/nike.png" alt="nike" ></li>
            </ul>
        </div>
    </header>
</body>
</html>