<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/news.css">
</head>
<body  >
<header class="header" >
    <div class="container">
        <ul class="menu">
            <li><a href="news" style="color: black">Новости</a></li>
            <li  class="history"><a href="#" style="color: #CE4545">История</a></li>
            <li ><span ><a href="#" style="color: #2957CE">Контакты</a></span></li>
            <li><a href="#" style="color: black">Обзор</a></li>
        </ul>
<!--        <ul class="menu2">-->
<!--            <li><a href="#" class="registration" style="color: black">Регистрация</a></li>-->
<!--            <li><a href="#" class="input" style="color: black">Войти</a></li>-->
<!--        </ul>-->
        <a href="home"><img class="log" src="/static/img/Logo.png" ></a>
    </div>
</header>
<section class="section1" >
    <div class="containers">
        <div class="container1">
            <div class="container1.1"  style="background-image: url(static/img/news/air-jordan-1-low-black-white-homage-release-date.jpg)">
                <a href="#"   style="background-image: url(static/img/news/air-jordan-1-low-black-white-homage-release-date.jpg)"></a>
            </div>
            <div class="container1.2">
                <a href="#">The Air Jordan 1 Low Revisits The “Homage” Colorblocking In Black And White</a>
            </div>
        </div>
        <div class="container1">
            <div class="container1.1" style="background-image: url(static/img/news/adidas-yeezy-boost-350-v2-zebra-2022-release-date.jpg)">
                <a href="#"   style="background-image: url(static/img/news/adidas-yeezy-boost-350-v2-zebra-2022-release-date.jpg)"></a>
            </div>
            <div class="container1.2">
                <a href="#">The Air Jordan 1 Low Revisits The </a>
            </div>
        </div>
        <div class="container1">
            <div class="container1.1" style="background-image: url(static/img/news/off-white-nike-air-force-1-mid-DO6290-001-release-date.jpg)" >
                <a href="#"   ></a>
            </div>
            <div class="container1.2">
                <a href="#">The Air Jordan 1 Low Revisits The </a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="desc-bottom">
        <ul class="bottom">
            <li></li><img src="/static/img/logotips/converse-transparent-logo-5.png" alt="converse"  ></li>
            <li><img src="/static/img/logotips/puma.png" alt="puma" ></li>
            <li><img src="/static/img/logotips/umbro.png" alt="umbro" ></li>
            <li><img src="/static/img/logotips/nike.png" alt="nike" ></li>
        </ul>
    </div>
</footer>
</body>
</html>