<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${histories.get.getName()}">Adidas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/article.css">
</head>
<body>
<div class="main">
    <header class="header">
        <div class="container">
            <ul class="menu">
                <li><a href="/news" style="color: #8cd08c">Новости</a></li>
                <li  class="history"><a href="/history" style="color: #CE4545">История</a></li>
                <li ><span ><a href="#" style="color: #2957CE">Коллекция</a></span></li>
                <li><a href="#" style="color: black">Обзор</a></li>
                <li><a href="/"><img class="log" src="/static/img/Logo.png" ></a></li>
            </ul>
        </div>
    </header>
<!--<header th:insert="basic/header :: header"></header>-->

<hr class="hr">
<section class="section1">
    <div   class="alert alert-info mt-2">
        <div class="containers" >
                <div >
                    <img th:src="${histories.get().main_photo}" class="img_pages">
                    <p th:text="${histories.get.getName()}" class="text1"></p>
                    <div th:text="${histories.get.getText()}" class="text"></div>
                </div>
            </div>
    </div>
</section>
<hr>
<footer th:insert="basic/footer::footer"></footer>
</div>
</body>
</html>